<div class="container">

  <div class="footer-top">

    <div class="footer-brand">
      <a href="#" class="logo">
        <img src="./assets/images/logo.svg" alt="">
      </a>

      <p class="footer-text">
        Поиск дешевых вариантов аренды спецтехники в Казани. Ridex предлагает это благодаря разнообразному выбору из 1000 вариантов.
        потребители и интересный и интересный выбор.
      </p>
    </div>
    
  </div>

    <p class="copyright">
      &copy; 2024 <a href="#">BulatCompany</a>. Все права защищены
    </p>
</div>
