@inherits LayoutComponentBase

<CascadingAuthenticationState>
        <CascadingBlazoredModal DisableBackgroundCancel="true">

    <header class="header">
        <NavBar/>
    </header>

    <main>
        <article>
            @Body
        </article>
    </main>

    <footer class="footer">
        <FooterBar/>
    </footer>
    </CascadingBlazoredModal>
</CascadingAuthenticationState>
